@import './base.css';

:root {
  --akt-c-yellow: rgb(255, 222, 95);
  --akt-md-code-gray: #f6f8fa;
  --color-button-hover: var(--akt-c-yellow);
  --code-background: var(--akt-md-code-gray);
}

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #0077ff;
}

button:hover {
  cursor: pointer;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-button-hover);
    transition: 0.4s;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    padding: 50px 0 0 0;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

@font-face {
  font-family: 'CodeRegular';
  src: url('/fonts/JetBrainsMono-2.304/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'TextBold';
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_SC_Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'TextRegular';
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf') format('truetype');
  font-weight: 400;
}

code {
  font-family: 'CodeRegular';
  font-size: 85%;
  color: #2c3e50;
  background: var(--code-background);
  border-radius: 6px;
}
