.markdown-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.markdown-body h1 {
  font-family: 'TextBold';
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

.markdown-body h2 {
  font-family: 'TextBold';
  font-weight: bold;
  font-size: 30px;
}

.markdown-body h3 {
  font-family: 'TextBold';
  font-weight: bold;
  font-size: 24px;
}

.markdown-body h4 {
  font-family: 'TextBold';
  font-weight: bold;
  font-size: 20px;
}

.markdown-body h5 {
  font-family: 'TextBold';
  font-weight: bold;
  font-size: 18px;
}

.markdown-body strong {
  font-family: 'TextBold';
  font-weight: bold;
}

.markdown-body blockquote {
  color: #777777;
  padding: 0 10px;
  border-left: solid;
  border-left-color: #dfe2e5;
  border-left-width: 5px;
}

.markdown-body blockquote .katex {
  color: #777777;
}

.markdown-body .katex {
  white-space: normal;
  word-break: break-word;
}

.markdown-body a {
  word-wrap: break-word;
  word-break: break-all;
}

.markdown-body .katex,
.markdown-body .katex * {
  overflow-wrap: break-word;
  word-break: break-word;
}

.markdown-body .katex-display {
  margin: 0 !important;
  font-size: 16px;
}

.markdown-body .katex .mrel,
.markdown-body .katex .mbin {
  overflow-wrap: normal;
}

.markdown-body table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /** IOS **/
  border-collapse: collapse;
}

.md-table {
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

.markdown-body div {
  max-width: 100%;
}

th,
td {
  border: 1px solid #dae2eb;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f6f8fa;
  font-family: 'TextBold';
}

img {
  max-width: 80%;
}

.markdown-body hr {
  border: 1px solid rgb(222, 228, 240);
}
